// Colors

$body-background: #fff;
$theme-color-main: #0e0e0e;
$theme-color-main-contrast: #fff;

// Radius

$border-radius-sm: 4px;

$background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Joshua_Tree_NP_-_Sunrise.jpg/2560px-Joshua_Tree_NP_-_Sunrise.jpg');