<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Enjoy the desert life @ Mojave Manor in Joshua Tree! Look deep into nature, and then you will understand everything better.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Reservations accepted on Airbnb.com/rooms/33338871
            </p>
        </div>
    </div>
</section>
